<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/styles.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <title>Index</title>
</head>
<body>
    <header>
        <div class="navbar">
            <div class="logo" style="display: block;">
                <a href="Index.html"><img src="resources/logo.png" width="40px"></a></div>
            <ul class="links">
                <li><a href="componentes">Componentes</a></li>
                <li><a href="computadores">Computadores</a></li>
                <li><a href="about">Acerca de nosotros</a></li>
                <li><a href="contact">Contacto</a></li>
            </ul>
            <div>
                <button href="#" class="action_btn">Iniciar sesión</button>
                <button href="#" class="action_btn negative">Registrarse</button>
            </div>
            <div class="toggle_btn">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
        <div class="dropdown_menu">
            <li><a href="componentes">Componentes</a></li>
            <li><a href="computadores">Computadores</a></li>
            <li><a href="about">Acerca de nosotros</a></li>
            <li><a href="contact">Contacto</a></li>
            <li><button href="#" class="action_btn">Iniciar sesión</button></li>
            <li><button href="#" class="action_btn negative">Registrarse</button></li>
        </div>
    </header>
    <main>
        <section id="hero">
            <a href="#">
                <div class="main_container">
                    <div class="md_container">
                        <p>¿No sabes lo que necesitas o solo conoces tu presupuesto?</p>
                        <h1>¡Arma tu PC AQUÍ!</h1>
                    </div>
                    <div class="right-container">
                        <img src="resources/pcCreator1.png" width="200px">
                    </div>
                </div>
            </a>
        </section>
        <section class="cards">
            <a href="Producto.html">
                <div class="small_container">
                    <div class="">
                        <img src="resources/pc_gamer2.png" width="200px">
                    </div>
                    <div class="md_container">
                        <p>Pc Gamer Rgb Ryzen 5 5600g + 16gb +ssd 500 + Monitor 22”</p>
                        <h3>$2.200.000 COP</h1>
                    </div>
                </div>
            </a>
            <a href="Producto.html">
                <div class="small_container">
                    <div class="">
                        <img src="resources/pc_gmer3.png" width="200px">
                    </div>
                    <div class="md_container">
                        <p>Torre Cpu Gamer Core I5 10400 Gpu 2g Hdmi 1tb 16gb Led 22</p>
                        <h3>$2.000.000 COP</h1>
                    </div>
                </div>
            </a>
            <a href="Producto.html">
                <div class="small_container">
                    <div>
                        <img src="resources/pc_gamer1.png" width="200px">
                    </div>
                    <div class="md_container">
                        <p>Torre Gamer Rgb Amd Ryzen 5 5600g + 16gb + Ssd 240</p>
                        <h3>$1.600.000 COP</h1>
                    </div>
                </div>
            </a>
        </section>
    </main>

    <footer>
        <div class="footer_logo">
            <img src="resources/allInOne.png">
        </div>
        <div class="footer_content">
            <p>© Todos los derechos reservados. 2023</p>
        </div>
    </footer>
    <script src="js/Index.js"></script>
</body>
</html>
