<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/styles.css"/>
    <title>Index</title>
</head>
<body>
    <div class="topnav" id="navbar">
        <a class="logo" href="Index.html"><img src="resources/logo.png" width="60px"><img src="resources/allInOne.png" width="60px"></a>
        <div class="topnav-link">
            <a href="#home">Home</a>
            <a href="#armaTuPc">Arma tu PC</a>
            <a href="#componentes">Componentes</a>
            <a href="#computadores">Computadores</a>
            <a href="#about">Acerca de nosotros</a>
        </div>
        <div class="topnav-btn">
            <a class="sign-in">Iniciar sesión</a>
            <a class="log-in">Registrarse</a>
        </div>
    </div>
    <script src="js/index.js"></script>
</body>
</html>