<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/styles.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Index</title>
</head>
<body>
    <header>
        <div class="navbar">
            <div class="logo" style="display: block;">
                <a href="#"><img src="resources/logo.png" width="40px"></a></div>
            <ul class="links">
                <li><a href="componentes">Componentes</a></li>
                <li><a href="computadores">Computadores</a></li>
                <li><a href="about">Acerca de nosotros</a></li>
                <li><a href="contact">Contacto</a></li>
            </ul>
            <div>
                <a href="#" class="action_btn">Iniciar sesión</a>
                <a href="#" class="action_btn negative">Registrarse</a>
            </div>
            <div class="toggle_btn">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
        <div class="dropdown_menu">
            <li><a href="componentes">Componentes</a></li>
            <li><a href="computadores">Computadores</a></li>
            <li><a href="about">Acerca de nosotros</a></li>
            <li><a href="contact">Contacto</a></li>
            <li><a href="#" class="action_btn">Iniciar sesión</a></li>
            <li><a href="#" class="action_btn negative">Registrarse</a></li>
        </div>
    </header>

    <main>
        <section id="hero">
            <a href="#">
            <div class="main_container">
                <div>
                    <p>¿No sabes lo que necesitas o solo conoces tu presupuesto?.</p>
                    <h1>¡Arma tu PC AQUÍ!</h1>
                </div>
                <div>
                    <img src="resources/pcCreator1.png" width="200px">
                </div>
            </div>
        </a>
        </section>
    </main>
    <script src="js/Index.js"></script>
</body>
</html>