@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    font-family:'Roboto', sans-serif, Verdana, Geneva, Tahoma;
    background-color: #E4F1FF;
}
  
.topnav {
    display: flex;
    background-color: #27005D;
}
.topnav .topnav-link a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    margin-top: 8px;
    text-decoration: none;
    font-size: 17px;
}

.topnav .topnav-btn a {
    float: right;
    display: inline;
    color: white;
    font-size: 17px;
    border-radius: 15px;
}

.sign-in {
    padding: 10px 15px;
    background-color: #9400FF;
}

.log-in {
    padding: 7px 12px;
    background-color: #27005D;
    border: 3px solid #9400FF;
}

.topnav a:hover {
    background-color: #AED2FF;
    color: black;
}

.topnav a.active {
    background-color: #113946;
    color: white;
}

.topnav .icon {
    display: none;
}